{% extends 'base.html' %}

{% block title %}Countries{% endblock %}

{% block content %}

<div class="container mt-4">

    <!-- Xabarlarni ko‘rsatish -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert 
{% if message.tags == 'success' %}alert-success
{% elif message.tags == 'error' %}alert-danger
{% elif message.tags == 'warning' %}alert-warning
{% else %}alert-info{% endif %}
alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    <h2>Davlatlar Ro'yxati</h2>

    <!-- Barcha davlatlar -->
    <ul class="list-group">
        {% if countries %}
        {% for c in countries %}
        <a href="{% url 'single-page' c.uuid %}">
            <li class="list-group-item">{{ c.name }}</li>
        </a>
        {% endfor %}
        {% else %}
        <li class="list-group-item">Davlatlar mavjud emas.</li>
        {% endif %}
    </ul>
</div>

{% endblock %}