{% extends 'base.html' %}

{% block title %}Countries{% endblock %}

{% block content %}

<div class="container mt-4">

    <!-- Xabarlarni ko‘rsatish -->
    {% if messages %}
    <div class="alert alert-info">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <h2>Davlatlar Ro'yxati</h2>

    <!-- Barcha davlatlar -->
    <ul class="list-group">
        {% if countries %}
        {% for c in countries %}
        <a href="{% url 'single-page' c.uuid %}">
            <li class="list-group-item">{{ c.name }}</li>
        </a>
        {% endfor %}
        {% else %}
        <li class="list-group-item">Davlatlar mavjud emas.</li>
        {% endif %}
    </ul>
</div>

{% endblock %}